

# Scala

target
*.class
*.log
*.csv
*.txs
*.failed
*.rejected

.history

# Idea

*.iml
*.ipr
*.iws
.idea
out


#SBT

.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
